a:link{ 
    color: blue; 
}

a:visited{ 
    color: red; } 

a:hover{ 
    color: green;
}

h1:first-child{
    text-decoration: underline;
    color: blue;
}

h2:first-child{
    color: green;
}

p:first-child{
    text-align: right;
    color: red;
}